@{
    ViewBag.Title = "Front page temp";
}

<div class="row">
    <div class="col-md-2">
        <p>
            Temp Create account
        </p>
        <p><a class="btn btn-default" href="../Account/CreateAccount">Create Account</a></p>
    </div>
    <div class="col-md-2">
        <p>Temp Edit account</p>
        <p><a class="btn btn-default" href="../Account/EditAccount">Edit Account</a></p>
    </div>
    <div class="col-md-2">
        <p>Temp Find Trip</p>
        <p><a class="btn btn-default" href="../FindTrip/SearchTrip">Search for Trip</a></p>
    </div>
    <div class="col-md-2">
        <p>Temp Specific trip</p>
        <p><a class="btn btn-default" href="../FindTrip/SpecificTrip">Specific trip</a></p>
    </div>
    <div class="col-md-2">
        <p>Temp Plan a trip</p>
        <p><a class="btn btn-default" href="../PlanTrip/PlanTrip">Plan trip</a></p>
    </div>


</div>